{{template "base" .}}

{{define "content"}}
    <div class = "container">
        <div class="row">
            <div class="col">
                <h1>ABOUT PAGE</h1>
                <p>Helloo</p>
                <p>This came from the template: {{index .StringMap "test"}}</p>  
            </div>
        </div>
    </div>
{{end}}